<h2>Recherche de personnages par nom</h2>

<p>Exemples : Invincible, Atom Eve, Omni-Man, Allen the Alien, Dupli-Kate, etc.</p>

<input type="text" name="characterInput" placeholder="Nom du personnage" [(ngModel)]="characterInput"> <button (click)="getCharacter(characterInput)">Rechercher</button>

<h3 *ngIf="character != null; else noResult">Résultat</h3>
<div class="row" *ngIf="character != null">
    <div>
        <img src="{{character.imageUrl}}" alt="{{character.name}}">
    </div>
    <div>
        <p>Nom : {{character.name}}</p>
        <p>Âge : {{character.age == null ? "Inconnu" : character.age}}</p>
        <p>Statut : {{character.isAlive ? 'En vie' : 'Vaincu(e)'}}</p>
        <p >Pouvoirs : </p>
        <ul>
            <li *ngFor="let s of character.powers" [routerLink]="['/superpowers',s]">{{s}}</li>
        </ul>
        <button (click)="addToFavs()">⭐ Ajouter aux favoris</button>
    </div>
</div>
<ng-template #noResult><div>Aucun personnage avec ce nom n'a été trouvé</div></ng-template>